{% extends 'base.html' %}

{% block content %}
<h1>Moss Test</h1>
<h2>Instructions</h2>
<p>
    Upload a <strong>ZIP FILE</strong> containing your assignment here. We'll handle the rest. This only works if people make it work though.
</p>
<form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
    <div><label for='assignment'>Your assignment</label></div>
    <div><input type='file' name='assignment' /></div>
    <div><input type='submit' value='Upload' /></div>
</form>
{% endblock %}